.todo{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  overflow:auto;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 5px;
  width:85vw;
 
  

  
} 
.clickedToDel{
  text-decoration: line-through;
}
