#root{
  margin: 10px;
}
.home{
  position: relative;
}
.switchMode{
  display: flex;
  justify-content: end;
  padding: 10px 10px 0 10px;
  
}
.signOut{
 position: absolute;
 top: -40px;
 left: 10px;
  
}
.addTodo{
  display: flex;
  flex-direction: column;

}

.homeContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.todos{
  display: flex;
  flex-direction: column;
  align-items: center;
}